export(gwsForBin)
export(makeBinsForSnps)
export(simpleGenotypeErrorModel)
export(fetchGenotypes)
export(fetchGenotypesAsList)
export(convertGenotypes)
export(missingRateFromGenotypes)
export(mergeGws)
export(parameters)
export(processFiles)
export(processTable)
export(processGws)
export(asGws)
export(readPlinkTransposedData)
export(readGws)
export(readBins)
export(convertChromosomeNames)
export(saveGws)
export(simpleAllelicSumScores)
export(simpleAllelicSumScoresPvalue)
export(simpleDivariatePvalue)
export(simpleDivariateLogLikelihood)
export(simpleDivariateLogLikelihoodForPair)
export(simpleGenotypicSumScores)
export(simpleGenotypicSumScoresPvalue)
export(simpleUnivariatePvalue)
export(simpleUnivariateLogLikelihoodRatio)
export(simpleUnivariateLogLikelihood)
export(simpleUnivariateLogLikelihoodForMarker)
import(GenABEL)
